<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestQuestion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestQuestion.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestQuestion</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function submitOnclic() {
            //alert("Inside function");
            var urli = window.location.origin + "/Home/getSolution";

            var question = $('#question').val();
            var topic = $('#topic').val();
            if(topic == null || topic == ''){
                alert("topic cannot be empty");
                return false;
            }
            var d = { "question": question, "topic": topic };
            $('#queryResult').val("Please wait..........");

            //alert(topic+" "+question);
            //alert(urli);
            
            //e.preventDefault();

            $.ajax({
                type: "POST",
                url: '@Url.Action("getSolution","Home")',
                data: JSON.stringify(d),
                
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    // alert("Data has been added successfully.");
                    var resultL = JSON.stringify(result)
                    var data = JSON.parse(resultL);
                    //alert(data['Result']);
                    $('#queryResult').val(data['Result']);
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        }
    </script>
</body>
</html>
